*{
    margin: 0px;
}
/* Common Styles */
body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* Header Part Decoration Starts */

.header{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title1{
    margin: 10px;
    padding: 50px 240px;
}

#main-heading{
    font-size: 75px;
}
#main-para{
    font-size: 20px;
}
.header-title2{
    margin: 0px 10px;
    padding: 50px 250px 0px 10px;
}

.primary-btn{
    border-radius: 8px;
    background: #E55473;
    padding: 10px;
    border: 0px;
    align-items: center;
    color: whitesmoke;
    font-size: 15px;
}

.header-photo{
    width: 600px; 
    height: 800px;
}

/* Header Part Decoration Ends */

/* Footer Part Decoration Starts */
.footer{
    background-color: rgba(0, 0, 0, 0.918);
    text-align: center;
}
.footer-header{
    color: white;
    font-size: 30px;
    font-weight: 800;
    padding: 40px 0px 15px;
}

.footer-text{
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    padding: 10px 0px;
}

.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    padding: 10px 0px;
}
.footer-div{
    margin: auto;
    width: 32%;
    padding: 40px;
}
/* Footer Part Decoration Ends */